﻿.error {
    background-color: darkred;
    color: white;
}
.cart {
    width: 600px;
    margin: auto;
}
.row {
    display:flex;
}
.row.header {
    font-weight: bold;
    background-color: lightgrey;
}
.name {
    flex: 3;
    text-align: left;
}
.price {
    flex: 1;
    text-align: right;
}
.header .price {
    text-align: center;
}
.quantity {
    flex: 1;
    text-align: center;
}
.header .quantity {
    text-align: right;
}
.amount {
    flex: 1;
    text-align: right;
}
.header .amount {
    text-align: center;
}
.ops {
    flex: 1;
    text-align: right;
}
.totalRow {
    margin-top: 10px;
}
.total {
    flex: 5;
    text-align: right;
}